name: Lint Code

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  swiftlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict
