name: Lint Code

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  swiftlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SwiftLint
        run: |
          # Download and install SwiftLint binary
          wget https://github.com/realm/SwiftLint/releases/download/0.54.0/swiftlint_linux.zip
          unzip swiftlint_linux.zip
          sudo mv swiftlint /usr/local/bin/
          swiftlint version

      - name: Run SwiftLint
        run: swiftlint lint --strict
